.pokemon-card {
    position: relative;
    width: 200px; /* Adjust the width of the card as needed */
    height: 200px; /* Adjust the height of the card as needed */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.pokemon-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 253, 253, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.pokemon-card:hover .overlay {
    opacity: 1;
}


.pokemon-card img {
    width: 100%;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

.pokemon-card .overlay .name-text {
    font-size: relative; /* Adjust the font size as needed */
    text-align: center;
    padding-bottom: 80px;
}

.pokemon-card .overlay .type-text {
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
}

.pokemon-card .opaque-button {
    opacity: 0.7; /* Set the opacity of the button */
    background: none;
    border: none;
    color: white;
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    padding-top: 100px;
    
}

.pokemon-card .opaque-button:hover {
    opacity: 1; /* Fully opaque on hover */
}