.pokemon-card {
    position: relative;
    width: 200px; /* Adjust the width of the card as needed */
    height: 200px; /* Adjust the height of the card as needed */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.pokemon-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 253, 253, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.pokemon-card:hover .overlay {
    opacity: 1;
}


.pokemon-card img {
    width: 100%;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

.pokemon-card .overlay .name-text {
    font-size: relative; /* Adjust the font size as needed */
    font-family: 'VT323', monospace;
    text-shadow:
        0 0 5px rgb(255, 255, 255   ), /* Glow effect */
        0 0 10px rgb(34,34, 36);
    text-align: relative;
    color: red;
    animation: flicker 0.1s infinite alternate
}

.pokemon-card .overlay .type-text {
    font-size: 14px; /* Adjust the font size as needed */
    text-align: relative;
    color: #000;
}

.pokedex-card .overlay .type {
    font-family: 'VT323', monospace; /* Use a retro digital font */
    font-size: 48px; /* Larger size for pixelated effect */
    color: #00ff00; /* Green color, like old digital displays */
    text-shadow:
        0 0 5px #00ff00, /* Glow effect */
        0 0 10px #00ff00;
    background-color: #000; /* Black background */
    padding: 10px 20px;
    border: 2px solid #00ff00; /* Green border */
    display: inline-block;
    animation: flicker 0.1s infinite alternate; /* Optional: Add a flickering animation */
}

.pokemon-card .opaque-button {
    opacity: 0.7; /* Set the opacity of the button */
    background: none;
    border: none;
    color: white;
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    padding-top: 100px;
    
}

.pokemon-card .opaque-button:hover {
    opacity: 1; /* Fully opaque on hover */
}